<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788901667016-njknjprqm0qg0p4jm8akanj8r0mib1r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788901667016-njknjprqm0qg0p4jm8akanj8r0mib1r8</string>
	<key>API_KEY</key>
	<string>AIzaSyB03hrnZEQuSCHVPUd2NJQI5UwdopdWnag</string>
	<key>GCM_SENDER_ID</key>
	<string>788901667016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMovil2</string>
	<key>PROJECT_ID</key>
	<string>flutter-movil2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-movil2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788901667016:ios:23ede9dda5bdefb76545fd</string>
</dict>
</plist>